@media (min-width: 768px)
{
    header.masthead .intro-text .intro-heading {
        font-size: 45px !important;
        font-weight: 700;
        line-height: 50px;
        font-family: 'Tai Heritage Pro', serif;
        margin-top: 80px;
    }

    header.masthead .intro-text {
        padding-top: 400px !important;
        padding-bottom: 0 !important;
    }
}

#mainNav .navbar-brand {
    color: #ffffff !important;
    font-family: 'Playfair Display', serif !important;
}

.intro-heading.text-uppercase {
    color: #abffd8 !important;
}

section h2.section-heading, section .section-heading.h2 {
    font-size: 15px !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #26d181 !important;
    border-color: #ffffff !important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #ffffff !important;
    border-color: #198754 !important;
    color: #198754 !important;
}

.logo-top{
    width: 65px !important;
}

.logo-slider{
    width: 65% !important;
}

@media (min-width: 992px)
{
    #mainNav {
        padding-bottom: 1px !important;
}
}